<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chamados</title>
</head>

<link rel="stylesheet" href="/css/bootstrap.min.css">

<body>

    <% include ./layout/navbar %>

    <main role="main" style="margin-top:95px">
        <div class="container-fluid">            
            <div class="row">
                <div class="col-md-1">
                    <a class="btn btn-primary btn-sm" href="/chamados/novo" role="button">Abrir Chamado »</a>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <h5>Chamados</h5>
                </div>
            </div>            
            <br>

            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#setor" role="tab" aria-controls="setor" aria-selected="true">Setor</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#seus" role="tab" aria-controls="seus" aria-selected="false">Seus</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#atribuidos" role="tab" aria-controls="atribuidos" aria-selected="false">Atribuídos</a>
                        </li>
                    </ul>
                    <br>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="setor" role="tabpanel" aria-labelledby="home-tab">
                            <div class="col-md-12">  
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                        <th scope="col">N°</th>
                                        <th scope="col">Título</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Prioridade</th>
                                        <th scope="col">Departamento</th>
                                        <th scope="col">Solicitante</th>
                                        <th scope="col">Assunto</th>
                                        <th scope="col">Ação</th>
                                        </tr>
                                    </thead>
                                        <%for(key in chamados){%>
                                            <tr>
                                            <th scope="row"><%= chamados[key].id %></th>
                                            <td><%= chamados[key].titulo %></td>
                                            <td><%= chamados[key].status_chamado.nome %></td>
                                            <td><%= chamados[key].prioridade_chamado.nome %></td>
                                            <td><%= chamados[key].chamado_departamento.nome %></td>
                                            <td><%= chamados[key].usuario_abertura_chamado.nome %></td>
                                            <td><%= chamados[key].assunto_chamado.nome %></td>
                                            <td>
                                                <a href="/chamados/interacao/<%= chamados[key].id =>"><img src="/icons/atribuir.png" title="Pegar chamado" alt=""></a>
                                                <a href="#" data-id="<%= chamados[key].id %>" data-descricao="<%= chamados[key].descricao_problema %>" data-toggle="modal" data-target="#exampleModalCenter" title="Visualização prévia"><img src="/icons/visualizar.png" alt=""></a>
                                            </td>
                                            </tr>
                                        <%}%>
                                    </tbody>
                                </table>
                            </div>       
                        </div>
                        <div class="tab-pane fade" id="seus" role="tabpanel" aria-labelledby="profile-tab">
                            Seus
                        </div>
                        <div class="tab-pane fade" id="atribuidos" role="tabpanel" aria-labelledby="contact-tab">
                            Atribuídos
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Prévia do chamado</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>                
                    <div class="modal-body">
                        <h6 class="modal-title" id="exampleModalLabel">Chamado ID: </h6><h6 id="id_chamado" class="id-chamado"></h6>
                        <div class="descricao-chamado"></div>
                    </div>
                    <div class="modal-footer">
                        <a id="pegar" href="#"><img src="/icons/atribuir.png" alt="" title="Pegar chamado" ></a>
                        <a href="#" data-dismiss="modal"> <img src="/icons/fechar.png" alt="" title="Fechar visualização"></a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    
    <% include ./layout/footer %>

</body>

<script src="/js/jquery-3.4.1.slim.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script>
    $('#exampleModalCenter').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var id = button.data('id'); // Extract info from data-* attributes
        var descricao = button.data('descricao'); // Extract info from data-* attributes        
        //alert(descricao)
        var modal = $(this);
        modal.find('.id-chamado').text(id);
        modal.find('.descricao-chamado').text(descricao);
    });
</script>
<script>
    $(function(){
        $("#pegar").on('click', function(){
            var id = $("#id_chamado").html();
            $.ajax({
                url: '/chamados/interacao/'+id,
                type: 'GET'
            });
        });
    });
</script>

</html>