<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Usuários</title>
</head>

<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/sticky-footer-navbar.css">

<body>

    <% include ./layout/navbar %>

    <main role="main" style="margin-top:95px">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h5>Cadastro e alteração de usuários</h5>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-1">
                    <a class="btn btn-primary btn-sm" href="/config/usuarios/novo" role="button">Novo »</a>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <h5>Usuários</h5>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                            <th scope="col">N°</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Usuário</th>
                            <th scope="col">E-mail</th>
                            <th scope="col">Perfil</th>
                            <th scope="col">Setor</th>
                            <th scope="col">Ativo</th>
                            <th scope="col">Ação</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%for(key in usuarios){%>
                            <tr>
                                <th scope="row"><%= usuarios[key].id %></th>
                                <td><%= usuarios[key].nome %></td>
                                <td><%= usuarios[key].login %></td>
                                <td><%= usuarios[key].email %></td>
                                <td><%= usuarios[key].perfil_usuario.nome %></td>
                                <td><%= usuarios[key].depto_usuario.nome %></td>
                                <td><%= usuarios[key].ativo %></td>
                                <td> <a href="/config/usuarios/alterar/<%= usuarios[key].id %>"><img src="/icons/icons8-direita-30.png" alt=""></a> </td>
                            </tr>
                            <%}%>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <nav class="col-md-12" aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <%if(parseInt(paginaAtual) > 1) {%>
                            <li class="page-item">
                                <a class="page-link" href="/config/usuarios/<%= (parseInt(paginaAtual)-1) %>" tabindex="-1">Anterior</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="/config/usuarios/<%= (parseInt(paginaAtual)-1) %>">  <%= (parseInt(paginaAtual)- 1) %> </a></li>
                        <%}%>
                        <li class="active page-item"><a class="page-link" href="/config/usuarios/<%= parseInt(paginaAtual) %>"> <%= parseInt(paginaAtual) %> </a></li>
                        <%if(parseInt(paginaAtual) < parseInt(paginas)) {%>
                            <li class="page-item"><a class="page-link" href="/config/usuarios/<%= (parseInt(paginaAtual)+1) %>">  <%= (parseInt(paginaAtual)+ 1) %> </a></li>
                            <li class="page-item">
                                <a class="page-link" href="/config/usuarios/<%= (parseInt(paginaAtual)+1) %>">Próximo</a>
                            </li>
                        <%}%>                
                    </ul>
                </nav>
            </div>
        </div>
    </main>
    
    <% include ./layout/footer %>

</body>


<script src="/js/jquery-3.4.1.slim.js"></script>
<script src="/js/bootstrap.min.js"></script>

</html>