<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Novo usuário</title>
</head>

<link rel="stylesheet" href="/css/bootstrap.min.css">

<body>

    <% include ./layout/navbar %>

    <main role="main" style="margin-top:95px">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <h5>Cadastro de usuário</h5>
                </div>
            </div>
            <hr>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <form action="/config/usuarios/novo/gravar" method="POST">
                        <div class="form-group">
                            <label for="nome">Nome:</label>
                            <input type="text" name="nome" id="nome" value="<%= dados.nome %>" class="form-control col-md-5">
                        </div>
                        <%for(key in erros){%>
                            <%if(erros[key].param == 'nome'){%>
                                <div class="col-md-5 alert alert-danger" role="alert">
                                    <%= erros[key].msg %>                               
                                </div>
                            <%}%>
                        <%}%>
                        <div class="form-group">
                            <label for="cpf">CPF:</label>
                            <input type="text" name="cpf" id="cpf" value="" class="form-control col-md-3">
                        </div>
                        <%for(key in erros){%>
                            <%if(erros[key].param == 'cpf'){%>
                                <div class="col-md-3 alert alert-danger" role="alert">
                                    <%= erros[key].msg %>                               
                                </div>
                            <%}%>
                        <%}%>
                        <div class="form-group">
                            <label for="email">E-mail:</label>
                            <input type="email" name="email" id="email" value="" class="form-control col-md-5">
                        </div>
                        <%for(key in erros){%>
                            <%if(erros[key].param == 'email'){%>
                                <div class="col-md-5 alert alert-danger" role="alert">
                                    <%= erros[key].msg %>                               
                                </div>
                            <%}%>
                        <%}%>
                        <div class="form-group">
                            <label for="login">Login</label>:</label>
                            <input type="text" name="login" id="login" value="" class="form-control col-md-5">
                        </div>
                        <%for(key in erros){%>
                            <%if(erros[key].param == 'login'){%>
                                <div class="col-md-5 alert alert-danger" role="alert">
                                    <%= erros[key].msg %>                               
                                </div>
                            <%}%>
                        <%}%>
                        <div class="form-group">
                            <label for="senha">Senha:</label>
                            <input type="password" name="senha" id="senha" senha="" class="form-control col-md-5">
                        </div>
                        <%for(key in erros){%>
                            <%if(erros[key].param == 'senha'){%>
                                <div class="col-md-5 alert alert-danger" role="alert">
                                    <%= erros[key].msg %>                               
                                </div>
                            <%}%>
                        <%}%>
                        <div class="form-group">
                            <label for="ativo">Ativo?</label>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                                <label class="custom-control-label" for="customRadio1">Sim</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                                <label class="custom-control-label" for="customRadio2">Não</label>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-3">
                                <label for="perfil col-md-3">Setor: </label>
                                <select class="custom-select" name="departamento">                                
                                        <%for(key in departamentos){%>
                                            <option value="<%= departamentos[key].id %>"><%= departamentos[key].nome %></option>
                                        <%}%>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label for="perfil col-md-3">Perfil: </label>
                                <select class="custom-select" name="perfil">
                                    <%for(key in perfis){%>
                                    <option value="<%= perfis[key].id %>"><%= perfis[key].nome %></option>
                                    <%}%>
                                </select>
                            </div>
                        </div>
                        <div class=" form-group">                            
                            <button class="btn btn-primary btn-md" type="submit">Salvar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    
    <% include ./layout/footer %>

</body>

<script src="/js/jquery-3.4.1.slim.js"></script>
<script src="/js/bootstrap.min.js"></script>

</html>